<form novalidate ng-submit="$ctrl.onSubmit({ user: $ctrl.user })">

    <label>Email:<span class="invalid" ng-repeat="err in $ctrl.errs.Email"> [{{err}}] </span></label>
    <input type="text" ng-model="$ctrl.user.email" placeholder="Email">
    <br>
    <label>Password:<span class="invalid" ng-repeat="err in $ctrl.errs.Password"> [{{err}}] </span></label>
    <input type="password" ng-model="$ctrl.user.password" placeholder="Password">
    <br>
    <label>Role:<span class="invalid" ng-repeat="err in $ctrl.errs.Role"> [{{err}}] </span></label>
    <select ng-model="$ctrl.user.role">
        <option value="User">User</option>
        <option value="Admin">Admin</option>
    </select>
    <br>
    <hr>
    <br>
    <button type="submit">Submit</button>
</form>