<header>
    <a ng-href="/#!/users" style="text-decoration: underline;">Users</a>
    <a ng-href="/#!/projects">Projects</a>
    <a ng-href="/#!/todos">ToDos</a>
</header>

<main>
    <div class="bread-crumbs">
        <span>Navigation: </span>
        <a ng-href="/#!/users" style="text-decoration: underline;">Users</a>
    </div>
    <br>
    <hr>
    <br>
    <div style="color: blue; cursor: pointer;" ng-click="addNew()">Add new user</div>
    <br>
    <users-list on-delete="delete(id)" users="users"></users-list>
</main>


<dialog>
</dialog>