<form novalidate>
    <div style="display: flex; flex-direction: row; align-items: center; justify-content: space-around; padding: 3mm; border-radius: 1cm;">
        <div>
            Current state: 
            <span style="color: red;" ng-show="$ctrl.orderBy($ctrl.toDo.states, 'createdAt', true)[0].info == 'Working'">Working</span>
            <span style="color: green;" ng-show="$ctrl.orderBy($ctrl.toDo.states, 'createdAt', true)[0].info == 'Complete'">Complete</span>
        </div>
        <div style="max-width: 8cm;">
            <button style="background-color: green;"
                ng-show="$ctrl.orderBy($ctrl.toDo.states, 'createdAt', true)[0].info != 'Complete'"
                ng-click="$ctrl.onStateChange({ state: { info: 'Complete', toDoId: $ctrl.toDo.id }})">Set
                Complete</button>
            <button style="background-color: red;"
                ng-show="$ctrl.orderBy($ctrl.toDo.states, 'createdAt', true)[0].info == 'Complete'"
                ng-click="$ctrl.onStateChange({ state: { info: 'Working', toDoId: $ctrl.toDo.id }})">Set
                Working</button>
        </div>
    </div>
    <br>
    <label>Select project:</label>
    <select ng-model="$ctrl.toDo.project.id">
        <option ng-repeat="project in $ctrl.projects" ng-value="project.id">{{project.name}}</option>
    </select>
    <br>
    <label>Name:<span class="invalid" ng-repeat="err in $ctrl.errs.Name"> [{{err}}] </span></label>
    <input type="text" ng-model="$ctrl.toDo.name" placeholder="Name">
    <br>
    <label>Description:<span class="invalid" ng-repeat="err in $ctrl.errs.Description"> [{{err}}] </span></label>
    <textarea ng-model="$ctrl.toDo.description"></textarea>
    <br>
    <label>Select user, who has to do it:</label>
    <select ng-model="$ctrl.toDo.user.id">
        <option ng-repeat="user in $ctrl.users" ng-value="user.id">{{user.email}}</option>
    </select>
    <br>
    <label>Select when to start?</label>
    <input id="dt" type="datetime-local" to-date ng-model="$ctrl.toDo.startAt">
    <br>

    <br>
    <hr>
    <br>
    <br>
    <button
        ng-click="$ctrl.onSubmit({ toDo: { name: $ctrl.toDo.name, description: $ctrl.toDo.description, userId: $ctrl.toDo.user.id, projectId: $ctrl.toDo.project.id, startAt: $ctrl.toDo.startAt }})">Submit</button>
</form>