<input type="text" placeholder="Search" ng-model="$ctrl.searchQuery">
<br>
<table>
    <thead>
        <tr>
            <td class="email-col">
                <i ng-click="$ctrl.sortBy('email')">
                    <span class="sortorder" ng-show="$ctrl.propertyName === 'email'" ng-class="{reverse: $ctrl.reverse}"></span>

                    <span>Email</span>
                </i>
            </td>
            <td class="role-col">
                <i ng-click="$ctrl.sortBy('role')">
                    <span class="sortorder" ng-show="$ctrl.propertyName === 'role'" ng-class="{reverse: $ctrl.reverse}"></span>

                    <span>Role</span>
                </i>
            </td>
            <td class="created-col">
                <i ng-click="$ctrl.sortBy('createdAt')">
                    <span class="sortorder" ng-show="$ctrl.propertyName === 'createdAt'" ng-class="{reverse: $ctrl.reverse}"></span>

                    <span>Created</span>
                </i>
            </td>
            <td class="updated-col">
                <i ng-click="$ctrl.sortBy('updatedAt')">
                    <span class="sortorder" ng-show="$ctrl.propertyName === 'updatedAt'" ng-class="{reverse: $ctrl.reverse}"></span>

                    <span>Updated</span>
                </i>
            </td>
            <td class="edit-col">Edit</td>
            <td class="delete-col">Delete</td>
        </tr>
    </thead>
    <tbody>

        <tr ng-repeat="user in $ctrl.users | filter : $ctrl.searchQuery | orderBy : $ctrl.propertyName : $ctrl.reverse">
            <td class="email-col">{{user.email}}</td>
            <td class="role-col">{{user.role}}</td>
            <td class="created-col smallest">{{user.createdAt | date: 'dd.MM.yyyy HH:mm'}}</td>
            <td class="updated-col smallest">{{user.updatedAt | date: 'dd.MM.yyyy HH:mm'}}</td>
            <td class="edit-col">
                <a ng-href="/#!/users/{{user.id}}">Edit</a>
            </td>
            <td class="delete-col">
                <i ng-show="!user.deleting" ng-click="user.deleting = true">Delete</i>
                <span ng-show="user.deleting">Sure?&nbsp;
                    <i ng-click="user.deleting = false">No</i>&nbsp;
                    <i ng-click="$ctrl.onDelete({id: user.id})">Yes</i>
                </span>
            </td>
        </tr>
    </tbody>
</table>
