<input type="text" placeholder="Search" ng-model="$ctrl.searchQuery">
<br>
<div style="display: flex; flex-direction: row; justify-content: space-around;">
    <label>
        <input type="radio" ng-model="$ctrl.filter"> All tasks
    </label>
    <label>
        <input type="radio" ng-model="$ctrl.filter"> Tasks to be started next week
    </label>
</div>
<br>
<table>
    <thead>
        <tr>
            <td class="toDo-project-col">
                <i ng-click="$ctrl.sortBy('project.name')">
                    <span class="sortorder" ng-show="$ctrl.propertyName === 'project.name'"
                        ng-class="{reverse: $ctrl.reverse}"></span>
                    <span>Project</span>
                </i>
            </td>
            <td class="toDo-name-col">
                <i ng-click="$ctrl.sortBy('name')">
                    <span class="sortorder" ng-show="$ctrl.propertyName === 'name'"
                        ng-class="{reverse: $ctrl.reverse}"></span>
                    <span>Name</span>
                </i>
            </td>
            <td class="toDo-toDo-col">
                <i ng-click="$ctrl.sortBy('user.email')">
                    <span class="sortorder" ng-show="$ctrl.propertyName === 'user.email'"
                        ng-class="{reverse: $ctrl.reverse}"></span>
                    <span>Challenger</span>
                </i>
            </td>
            <td class="toDo-start-col">
                <i ng-click="$ctrl.sortBy('startAt')">
                    <span class="sortorder" ng-show="$ctrl.propertyName === 'startAt'"
                        ng-class="{reverse: $ctrl.reverse}"></span>
                    <span>Start</span>
                </i>
            </td>
            <td class="toDo-state-col">
                <i ng-click="$ctrl.sortBy('lastState.info')">
                    <span class="sortorder" ng-show="$ctrl.propertyName === 'lastState.info'"
                        ng-class="{reverse: $ctrl.reverse}"></span>
                    <span>State</span>
                </i>
            </td>
            <td class="created-col">
                <i ng-click="$ctrl.sortBy('createdAt')">
                    <span class="sortorder" ng-show="$ctrl.propertyName === 'createdAt'"
                        ng-class="{reverse: $ctrl.reverse}"></span>

                    <span>Created</span>
                </i>
            </td>
            <td class="updated-col">
                <i ng-click="$ctrl.sortBy('updatedAt')">
                    <span class="sortorder" ng-show="$ctrl.propertyName === 'updatedAt'"
                        ng-class="{reverse: $ctrl.reverse}"></span>

                    <span>Updated</span>
                </i>
            </td>
            <td class="edit-col">Edit</td>
            <td class="delete-col">Delete</td>
        </tr>
    </thead>
    <tbody>

        <tr ng-repeat="toDo in $ctrl.toDos | filter : $ctrl.searchQuery | orderBy : $ctrl.propertyName : $ctrl.reverse">
            <td class="toDo-project-name-col">
                <span ng-show="toDo.project">{{toDo.project.name}}</span>
                <span ng-show="!toDo.project">N/A</span>
            </td>
            <td class="toDo-name-col">
                <span>{{toDo.name}}</span>&nbsp;
            </td>
            <td class="toDo-toDo-col">
                <span ng-show="toDo.user">{{toDo.user.email}}</span>
                <span ng-show="!toDo.user">N/A</span>
            </td>
            <td class="todo-start-date-col smallest">{{toDo.startAt | date: 'dd.MM.yyyy HH:mm'}}</td>
            <td class="todo-start-date-col">
                <span ng-show="toDo.lastState">{{toDo.lastState.info}}</span>
                <span ng-show="!toDo.lastState">N/A</span>
            </td>
            <td class="created-col smallest">{{toDo.createdAt | date: 'dd.MM.yyyy HH:mm'}}</td>
            <td class="updated-col smallest">{{toDo.updatedAt | date: 'dd.MM.yyyy HH:mm'}}</td>
            <td class="edit-col">
                <a ng-href="/#!/todos/{{toDo.id}}">Edit</a>
            </td>
            <td class="delete-col">
                <i ng-show="!toDo.deleting" ng-click="toDo.deleting = true">Delete</i>
                <span ng-show="toDo.deleting">Sure?&nbsp;
                    <i ng-click="toDo.deleting = false">No</i>&nbsp;
                    <i ng-click="$ctrl.onDelete({id: toDo.id})">Yes</i>
                </span>
            </td>
        </tr>
    </tbody>
</table>