<header>
    <a ng-href="/#!/users">Users</a>
    <a ng-href="/#!/projects" style="text-decoration: underline;">Projects</a>
    <a ng-href="/#!/todos">ToDos</a>
</header>

<main>
    <div class="bread-crumbs">
        <span>Navigation: </span>
        <a ng-href="/#!/projects">Projects</a>
        <a ng-href="/#!/projects/{{id}}" style="text-decoration: underline;">{{id}}</a>
    </div>
    <br>
    <hr>
    <br>
    <project-form project="project" users="users" errs="errs" on-submit="update(project)">
    </project-form>
</main>