<header>
    <a ng-href="/#!/users">Users</a>
    <a ng-href="/#!/projects" style="text-decoration: underline;">Projects</a>
    <a ng-href="/#!/todos">ToDos</a>
</header>

<main>
    <div class="bread-crumbs">
        <span>Navigation: </span>
        <a ng-href="/#!/todos">ToDos</a>
        <a ng-href="/#!/todos/{{id}}" style="text-decoration: underline;">{{id}}</a>
    </div>
    <br>
    <hr>
    <br>
    <to-do-form to-do="toDo" users="users" projects="projects" errs="errs" on-submit="update(toDo)" on-state-change="addState(state)">
    </to-do-form>
</main>