<form novalidate ng-submit="$ctrl.onSubmit({ project: { name: $ctrl.project.name, description: $ctrl.project.description, adminId: $ctrl.project.admin.id }})">

    <label>Name:<span class="invalid" ng-repeat="err in $ctrl.errs.Name"> [{{err}}] </span></label>
    <input type="text" ng-model="$ctrl.project.name" placeholder="Name">
    <br>
    <label>Description:<span class="invalid" ng-repeat="err in $ctrl.errs.Description"> [{{err}}] </span></label>
    <textarea ng-model="$ctrl.project.description"></textarea>
    <br>
    <label>Select the project admin:</label>
    <select ng-model="$ctrl.project.admin.id">
        <option ng-repeat="user in $ctrl.users" ng-value="user.id">{{user.email}}</option>
    </select>
    <br>
    <hr>
    <br>
    <button type="submit">Submit</button>
</form>