<header>
    <a ng-href="/#!/users" style="text-decoration: underline;">Users</a>
    <a ng-href="/#!/projects">Projects</a>
    <a ng-href="/#!/todos">ToDos</a>
</header>

<main>
    <div class="bread-crumbs">
        <span>Navigation: </span>
        <a ng-href="/#!/users">Users</a>
        <a ng-href="/#!/users/{{id}}" style="text-decoration: underline;">{{id}}</a>
    </div>
    <br>
    <hr>
    <br>
    <user-form user="user" errs="errs" on-submit="update(user)"></user-form>
</main>