<input type="text" placeholder="Search" ng-model="$ctrl.searchQuery">
<br>
<table>
    <thead>
        <tr>
            <td class="project-name-col">
                <i ng-click="$ctrl.sortBy('name')">
                    <span class="sortorder" ng-show="$ctrl.propertyName === 'name'"
                        ng-class="{reverse: $ctrl.reverse}"></span>
                    <span>Name</span>
                </i>
            </td>
            <td class="project-name-col">
                <i ng-click="$ctrl.sortBy('admin.email')">
                    <span class="sortorder" ng-show="$ctrl.propertyName === 'admin.email'"
                        ng-class="{reverse: $ctrl.reverse}"></span>
                    <span>Admin</span>
                </i>
            </td>
            <td class="created-col">
                <i ng-click="$ctrl.sortBy('createdAt')">
                    <span class="sortorder" ng-show="$ctrl.propertyName === 'createdAt'"
                        ng-class="{reverse: $ctrl.reverse}"></span>

                    <span>Created</span>
                </i>
            </td>
            <td class="updated-col">
                <i ng-click="$ctrl.sortBy('updatedAt')">
                    <span class="sortorder" ng-show="$ctrl.propertyName === 'updatedAt'"
                        ng-class="{reverse: $ctrl.reverse}"></span>

                    <span>Updated</span>
                </i>
            </td>
            <td class="edit-col">Edit</td>
            <td class="delete-col">Delete</td>
        </tr>
    </thead>
    <tbody>

        <tr
            ng-repeat="project in $ctrl.projects | filter : $ctrl.searchQuery | orderBy : $ctrl.propertyName : $ctrl.reverse">
            <td class="project-name-col">
                <span>{{project.name}}</span>&nbsp;
            </td>
            <td class="project-admin-col">
                <span ng-show="project.admin">{{project.admin.email}}</span>
                <span ng-show="!project.admin">N/A</span>
            </td>
            <td class="created-col smallest">{{project.createdAt | date: 'dd.MM.yyyy HH:mm'}}</td>
            <td class="updated-col smallest">{{project.updatedAt | date: 'dd.MM.yyyy HH:mm'}}</td>
            <td class="edit-col">
                <a ng-href="/#!/projects/{{project.id}}">Edit</a>
            </td>
            <td class="delete-col">
                <i ng-show="!project.deleting" ng-click="project.deleting = true">Delete</i>
                <span ng-show="project.deleting">Sure?&nbsp;
                    <i ng-click="project.deleting = false">No</i>&nbsp;
                    <i ng-click="$ctrl.onDelete({id: project.id})">Yes</i>
                </span>
            </td>
        </tr>
    </tbody>
</table>