* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: inherit;
    line-height: inherit;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 3.4mm;
    line-height: 1;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(250, 250, 250, 1);
}

header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 1cm;
    border-bottom: 1px solid lightgray;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
    background-color: mediumorchid;
    color: white;
}

header a {
    font-weight: bold;
    color: white;

}

.bread-crumbs {
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.bread-crumbs a::after {
    content: "\002f"
}

.bread-crumbs a:last-of-type::after {
    content: ""
}

main {
    position: absolute;
    top: 1cm;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 4mm;
}

table {
    width: 100%;
    border-collapse: collapse;
    font-size: 3.4mm;
    table-layout: fixed;
}

table thead {
    font-weight: bold;
}

table td {
    border: 1px solid lightgray;
    padding: 1.25mm;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

label {
    display: block;
    font-size: 3.4mm;
    color: darkgrey;
    padding-bottom: 1mm;
}

label:last-child::after {
    content: "\002e"

}

input[type="text"],
input[type="email"],
input[type="password"],
select,
input[type="datetime-local"] {
    outline: none;
    height: 8mm;
    padding: 0 3mm;
    border: 1px solid gray;
    border-radius: 1mm;
    display: block;
    width: 100%;
}

textarea {
    outline: none;
    padding: 3mm;
    border: 1px solid gray;
    border-radius: 1mm;
    display: block;
    width: 100%;
    height: 5cm;
    resize: none;
}

button, 
input[type="submit"], 
input[type="button"]{
    outline: none;
    height: 8mm;
    padding: 0 3mm;
    border: none;
    border-radius: 1mm;
    display: block;
    background-color: blue;
    width: 100%;
    color: white;
    cursor: pointer;
}

button:disabled, 
input[type="submit"]:disabled, 
input[type="button"]:disabled {
    background-color: lightgray;
    cursor: no-drop;
}

hr {
    border: 0;
    height: 1px;
    background-color: lightgray;
}

a {
    text-decoration: none;
    color: blue;
}

.invalid {
    color: red;
}

.smallest {
    font-size: 2mm;
}

i {
    cursor: pointer;
    color: blue;
    font-style: normal;
}

.sortorder:after {
    content: '\25b2';
}

.sortorder.reverse:after {
    content: '\25bc';
}

.email-col {
    width: 23%;
}

.role-col {
    width: 10%;
}

.created-col {
    width: 15%;
}

.updated-col {
    width: 15%;
}

.edit-col {
    width: 8%;

}

.delete-col {
    width: 24%;
}