<header>
    <a ng-href="/#!/users">Users</a>
    <a ng-href="/#!/projects">Projects</a>
    <a ng-href="/#!/todos" style="text-decoration: underline;">ToDos</a>
</header>

<main>
    <div class="bread-crumbs">
        <span>Navigation: </span>
        <a ng-href="/#!/toDos" style="text-decoration: underline;">ToDos</a>
    </div>
    <br>
    <hr>
    <br>
    <div style="color: blue; cursor: pointer;" ng-click="addNew()">Add new toDo</div>
    <br>
    <hr>
    <br>
    <div>Number of todos complete on current week: {{todosComplete}}</div>
    <br>
    <div>Number of todos reworking on current week: {{todosReworking}}</div>
    
    <br>
    <to-dos-list on-delete="delete(id)" to-dos="toDos"></to-dos-list>
</main>