<header>
    <a ng-href="/#!/users">Users</a>
    <a ng-href="/#!/projects" style="text-decoration: underline;">Projects</a>
    <a ng-href="/#!/todos">ToDos</a>
</header>

<main>
    <div class="bread-crumbs">
        <span>Navigation: </span>
        <a ng-href="/#!/projects" style="text-decoration: underline;">Projects</a>
    </div>
    <br>
    <hr>
    <br>
    <div style="color: blue; cursor: pointer;" ng-click="addNew()">Add new project</div>
    <br>
    <projects-list on-delete="delete(id)" projects="projects"></projects-list>
</main>


<dialog>
</dialog>